<a href="https://colab.research.google.com/github/Bruh-failed/homework1/blob/main/Homework1c_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1c Part 3: SQL

To start with, if you felt the class was unclear, check out the following tutorial: https://mode.com/sql-tutorial/introduction-to-sql/

Now! We'll be using sqlite to access a database. Start by downloading the sql lite file and putting it in the same directory as this notebook: https://www.kaggle.com/datasets/kaggle/sf-salaries (hit the 'download' button in the upper right). Check out the description of the data so you know the table / column names.

The following code will use sqlite to create a database connection.

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

Before we proceed, please note that every task **must be completed using a single SQL query**, unless mentioned otherwise or given as prompt.     
(e.g. using print statements are fine, but you should not be using pandas library to work with the dataset.)

# Exploration

Problem 1:

Try to create a query that gives you a data frame of the EmployeeName, JobTitle, and BasePay from the salaries table.

In [ ]:
from numpy import select

query = 'SELECT EmployeeName, JobTitle, BasePay FROM salaries';

df = pd.read_sql(query, conn)
df.head()

,EmployeeName,JobTitle,BasePay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6

Problem 2.

Modify your query from Problem 1 to limit it to the year 2012.

In [ ]:
query = 'SELECT EmployeeName, JobTitle, BasePay FROM salaries';


df = pd.read_sql(query, conn)
df.head()

,EmployeeName,JobTitle,BasePay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6

Problem 3:

Further limit the table to the year 2012, employees making under 150,000, and sort in descending order by salary.

In [ ]:
query = 'SELECT EmployeeName, JobTitle, BasePay FROM salaries WHERE BasePay < 150000 AND Year = 2012 ORDER BY BasePay DESC';

df = pd.read_sql(query, conn)
df.head()

           EmployeeName                     JobTitle    BasePay
0      Julie Kirschbaum            Project Manager 3  149881.06
1          Eric Jamison  Senior Physician Specialist  149746.72
2  Daisy Mae Quitoriano                Nurse Manager  149657.87
3        Ruth Armstrong           Nurse Practitioner  149169.48
4     Stuart Washington  Senior Physician Specialist  148811.73

# Aggregation

Problem 4:

Get the average base pay from the table.

In [ ]:
query = 'SELECT AVG(BasePay) AS Base FROM salaries';

df = pd.read_sql(query, conn)
df.head()

           Base
0  66053.729288

Problem 5:

Produce and print the head of a dataframe that shows the average pay for each year (only use a single, simple query). Your result should have a column for the year and a column for the average base pay.

In [ ]:
query = 'SELECT Year, AVG(BasePay) AS AverageBasePay FROM salaries GROUP BY Year ORDER BY Year';

df = pd.read_sql(query, conn)
df.head()

   Year  AverageBasePay
0  2011    63595.956517
1  2012    65436.406857
2  2013    68509.832156
3  2014    66557.437750

Problem 6:

Create a dataframe with averages of base pay, benefits, and overtime for each job title, as well as a column with the average of these three values.

In [ ]:
query = 'SELECT Jobtitle, AVG(BasePay) AS basePay, AVG(OvertimePay) AS overtime, AVG(Benefits) AS benfit, AVG(BasePay + OvertimePay + Benefits) AS total FROM salaries GROUP BY Jobtitle'
df = pd.read_sql(query, conn)
df.head()

,JobTitle,basePay,overtime,benfit,total
0,ACCOUNT CLERK,43300.806506,373.200843,0.00,43674.007349
1,ACCOUNTANT,46643.172000,0.000000,0.00,46643.172000
2,ACCOUNTANT INTERN,28732.663958,24.430625,0.00,28757.094583
3,"ACPO,JuvP, Juv Prob (SFERS)",62290.780000,0.000000,17975.59,80266.370000
4,ACUPUNCTURIST,66374.400000,0.000000,0.00,66374.400000

# Table Creation

Problem 7:

Now we'll create our own table in our database. Separate the Salaries table by Year, and add it back to the database. (You may use basic python to complete the task, however, should still use SQL to query the data.)

In [ ]:
for y in ['2011','2012','2013','2014']:
    query = "CREATE TABLE table AS SELECT YEAR, FROM salaries WHERE YEAR = Y "

    df.to_sql(name='Y'+y, con=conn, if_exists='replace')
    df.head()

# Table Joining

Problem 8:

We'll move on to a new dataset for the next steps.
Download the dataset from here (https://www.kaggle.com/datasets/luizpaulodeoliveira/imdb-project-sql) and load the sqlite file same as before. Start by just selecting everything in the "movies" table to see what it looks like.

In [4]:
conn = sqlite3.connect("movies.sqlite")
query = 'SELECT * FROM movies';
df = pd.read_sql(query, conn)
df.head(20)
#print(conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall())

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
5,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767
6,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768
7,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
8,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770
9,43606,Batman v Superman: Dawn of Justice,250000000,155,2016-03-23,873260194,Batman v Superman: Dawn of Justice,5.7,7004,Fearing the actions of a god-like Super Hero l...,Justice or revenge,209112,4771
10,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772
11,43608,Quantum of Solace,200000000,107,2008-10-30,586090727,Quantum of Solace,6.1,2965,Quantum of Solace continues the adventures of ...,"For love, for hate, for justice, for revenge.",10764,4773
12,43609,Pirates of the Caribbean: Dead Man's Chest,200000000,145,2006-06-20,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,Captain Jack Sparrow works his way out of a bl...,Jack is back!,58,4763
13,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763
14,43611,Man of Steel,225000000,99,2013-06-12,662845518,Man of Steel,6.5,6359,A young boy learns that he has extraordinary p...,You will believe that a man can fly.,49521,4771
15,43612,The Chronicles of Narnia: Prince Caspian,225000000,53,2008-05-15,419651413,The Chronicles of Narnia: Prince Caspian,6.3,1630,One year after their incredible adventures in ...,Hope has a new face.,2454,4774
16,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769
17,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775
18,43615,Men in Black 3,225000000,52,2012-05-23,624026776,Men in Black 3,6.2,4160,Agents J (Will Smith) and K (Tommy Lee Jones) ...,They are back... in time.,41154,4776
19,43616,The Hobbit: The Battle of the Five Armies,250000000,120,2014-12-10,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,Immediately after the events of The Desolation...,Witness the defining chapter of the Middle-Ear...,122917,4777

Problem 9:

Create a dataframe that includes the entire contents of "movies" table as well as the director's name.

In [17]:
conn = sqlite3.connect("movies.sqlite")
# query = 'SELECT * FROM directors';
# query1 = 'SELECT * FROM movies';

query = 'SELECT movies.*, directors.name FROM movies JOIN directors ON directors.id = director_id';

df = pd.read_sql(query, conn)

df.head(20)
#print(conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall())
# cursor = conn.cursor()
# update_query = 'SELECT movies.*, directors.name FROM movies JOIN directors ON directors.id = director_id';
# cursor.execute(update_query)
# conn.commit()

# cursor.close()
# conn.close()

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id,name
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762,James Cameron
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763,Gore Verbinski
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764,Sam Mendes
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765,Christopher Nolan
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766,Andrew Stanton
5,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767,Sam Raimi
6,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768,Byron Howard
7,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769,Joss Whedon
8,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770,David Yates
9,43606,Batman v Superman: Dawn of Justice,250000000,155,2016-03-23,873260194,Batman v Superman: Dawn of Justice,5.7,7004,Fearing the actions of a god-like Super Hero l...,Justice or revenge,209112,4771,Zack Snyder
10,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772,Bryan Singer
11,43608,Quantum of Solace,200000000,107,2008-10-30,586090727,Quantum of Solace,6.1,2965,Quantum of Solace continues the adventures of ...,"For love, for hate, for justice, for revenge.",10764,4773,Marc Forster
12,43609,Pirates of the Caribbean: Dead Man's Chest,200000000,145,2006-06-20,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,Captain Jack Sparrow works his way out of a bl...,Jack is back!,58,4763,Gore Verbinski
13,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763,Gore Verbinski
14,43611,Man of Steel,225000000,99,2013-06-12,662845518,Man of Steel,6.5,6359,A young boy learns that he has extraordinary p...,You will believe that a man can fly.,49521,4771,Zack Snyder
15,43612,The Chronicles of Narnia: Prince Caspian,225000000,53,2008-05-15,419651413,The Chronicles of Narnia: Prince Caspian,6.3,1630,One year after their incredible adventures in ...,Hope has a new face.,2454,4774,Andrew Adamson
16,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769,Joss Whedon
17,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775,Rob Marshall
18,43615,Men in Black 3,225000000,52,2012-05-23,624026776,Men in Black 3,6.2,4160,Agents J (Will Smith) and K (Tommy Lee Jones) ...,They are back... in time.,41154,4776,Barry Sonnenfeld
19,43616,The Hobbit: The Battle of the Five Armies,250000000,120,2014-12-10,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,Immediately after the events of The Desolation...,Witness the defining chapter of the Middle-Ear...,122917,4777,Peter Jackson

# Analysis

The next few problems will be more involved! You'll need to combine some concepts you've learned. For each cell, show your work.
\
Remember, the answers should be in **a single query**.

\
Problem 10:

What is the average budget used for the top 10 grossing movies?

In [27]:

conn = sqlite3.connect("movies.sqlite")

# What is this doing is that it is going to get the average budget of T where
# would be collected of the FROM stuff. Under the FROM, it will select the top
# 10 movies with revune and gets only 10 then gets the average using the T.budget


query = """SELECT AVG(T.budget) AS budget
FROM
  (SELECT revenue, budget
  FROM MOVIES
  ORDER BY revenue DESC
  LIMIT 10) as T
  """

df = pd.read_sql(query, conn)

df.head(10)

        budget
0  195100000.0

Problem 11:

Which directors have the highest overall voting average? - show the top 5 directors' name and their average rating

In [49]:
conn = sqlite3.connect("movies.sqlite")

# inquery = """SELECT movies.*, directors.name FROM movies
# JOIN directors ON directors.id = director_id """


# query = """SELECT name, AVG(T.vote_average) AS average_Rating
# FROM(""" + inquery + """)
# as T GROUP BY name
# ORDER BY vote_average DESC LIMIT 5"""


query = "SELECT title, name FROM (SELECT movies.*, directors.name FROM movies JOIN directors ON directors.id = director_id WHERE name = 'Gary Sinyor') as T"

df = pd.read_sql(query, conn)

df.head()

              title         name
0  Stiff Upper Lips  Gary Sinyor

In [ ]:
conn = sqlite3.connect("movies.sqlite")
# query = 'SELECT * FROM directors';
# query1 = 'SELECT * FROM movies';

query = 'SELECT movies.*, directors.name FROM movies JOIN directors ON directors.id = director_id';

df = pd.read_sql(query, conn)

df.head(20)
#print(conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall())
# cursor = conn.cursor()
# update_query = 'SELECT movies.*, directors.name FROM movies JOIN directors ON directors.id = director_id';
# cursor.execute(update_query)
# conn.commit()

# cursor.close()
# conn.close()

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id,name
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762,James Cameron
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763,Gore Verbinski
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bonds past sends him o...,A Plan No One Escapes,206647,4764,Sam Mendes
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765,Christopher Nolan
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766,Andrew Stanton
5,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767,Sam Raimi
6,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768,Byron Howard
7,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769,Joss Whedon
8,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770,David Yates
9,43606,Batman v Superman: Dawn of Justice,250000000,155,2016-03-23,873260194,Batman v Superman: Dawn of Justice,5.7,7004,Fearing the actions of a god-like Super Hero l...,Justice or revenge,209112,4771,Zack Snyder
10,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772,Bryan Singer
11,43608,Quantum of Solace,200000000,107,2008-10-30,586090727,Quantum of Solace,6.1,2965,Quantum of Solace continues the adventures of ...,"For love, for hate, for justice, for revenge.",10764,4773,Marc Forster
12,43609,Pirates of the Caribbean: Dead Man's Chest,200000000,145,2006-06-20,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,Captain Jack Sparrow works his way out of a bl...,Jack is back!,58,4763,Gore Verbinski
13,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763,Gore Verbinski
14,43611,Man of Steel,225000000,99,2013-06-12,662845518,Man of Steel,6.5,6359,A young boy learns that he has extraordinary p...,You will believe that a man can fly.,49521,4771,Zack Snyder
15,43612,The Chronicles of Narnia: Prince Caspian,225000000,53,2008-05-15,419651413,The Chronicles of Narnia: Prince Caspian,6.3,1630,One year after their incredible adventures in ...,Hope has a new face.,2454,4774,Andrew Adamson
16,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769,Joss Whedon
17,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775,Rob Marshall
18,43615,Men in Black 3,225000000,52,2012-05-23,624026776,Men in Black 3,6.2,4160,Agents J (Will Smith) and K (Tommy Lee Jones) ...,They are back... in time.,41154,4776,Barry Sonnenfeld
19,43616,The Hobbit: The Battle of the Five Armies,250000000,120,2014-12-10,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,Immediately after the events of The Desolation...,Witness the defining chapter of the Middle-Ear...,122917,4777,Peter Jackson

Problem 12:

What are the top five directors by how much their average budget is?