<a href="https://colab.research.google.com/github/Bruh-failed/homework1/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 2: Pandas

Today we'll practice data exploration in pandas! Each of these cells should consist of a single line of pandas, answering the question.

First, you'll need to download the dataset "Top American Colleges 2022" from Kaggle.com and get it into this directory. You'll need to make an account first.

Below is a list of useful functions. Part of this homework is practicing reading the documentation, so you'll want to look them up as you go. I'd recommend starting with this: https://pandas.pydata.org/docs/user_guide/10min.html. Once you've read that, in general you can find the API for any of these functions by searching their name plus pandas.

List of helpful functions:

* read_csv
* head
* unique
* groupby
* apply (An important note about this one--pay careful attention to the weird axis argument. When you apply over a series, you often don't need it, but when you apply over a dataframe axis=1 and axis=0 will do very different things.)
* value_counts
* df.columns ('columns' is a dataframe variable that tracks the columns)
* isin
* fillna
* astype
* hist

## The Basics

First, read the dataframe in. Store it in a variable called "df".

In [3]:
import pandas as pd
df = pd.read_csv('top_colleges_2022.csv')

Let's get a feel for our dataframe. Print out a list of columns

In [7]:
print(df.columns)

Index(['description', 'rank', 'organizationName', 'state', 'studentPopulation',
       'campusSetting', 'medianBaseSalary', 'longitude', 'latitude', 'website',
       'phoneNumber', 'city', 'country', 'state.1', 'region', 'yearFounded',
       'stateCode', 'collegeType', 'carnegieClassification',
       'studentFacultyRatio', 'totalStudentPop', 'undergradPop',
       'totalGrantAid', 'percentOfStudentsFinAid', 'percentOfStudentsGrant'],
      dtype='object')

Now print out the first ten elements. There's a single function that does it by default.

In [8]:
print(df.head(10))

                                         description  rank  \
0  A leading global research university, MIT attr...     1
1  Stanford University sits just outside of Palo ...     2
2  One of the top public universities in the coun...     2
3  Princeton is a leading private research univer...     4
4  Located in upper Manhattan, Columbia Universit...     5
5  The University of California, Los Angeles is t...     6
6  Located in rural Williamstown, MA, Williams Co...     7
7  Yale University is the second oldest Ivy Leagu...     8
8  Duke offers 53 undergraduate majors at its Dur...     9
9  Founded by Benjamin Franklin, The University o...    10

                        organizationName state  studentPopulation  \
0  Massachusetts Institute of Technology    MA              12195
1                    Stanford University    CA              20961
2     University of California, Berkeley    CA              45878
3                   Princeton University    NJ               8532
4                    Columbia University    NY              33882
5  University of California, Los Angeles    CA              46947
6                       Williams College    MA               2307
7                        Yale University    CT              14910
8                        Duke University    NC              17855
9             University of Pennsylvania    PA              30688

  campusSetting  medianBaseSalary   longitude   latitude  \
0         Urban          173700.0  -71.093539  42.359006
1      Suburban          173500.0 -122.168924  37.431370
2         Urban          154500.0 -122.258393  37.869236
3         Urban          167600.0  -74.659119  40.349855
4         Urban          148800.0  -73.961288  40.806515
5         Urban          137200.0 -118.437855  34.073903
6         Rural          152600.0  -73.208078  42.712389
7         Urban          163700.0  -72.923425  41.314042
8         Urban          155000.0  -78.940277  36.001389
9         Urban          164000.0  -75.162369  39.952270

                    website  ... yearFounded stateCode  \
0        http://web.mit.edu  ...      1861.0        MA
1   http://www.stanford.edu  ...      1891.0        CA
2   http://www.berkeley.edu  ...      1868.0        CA
3  http://www.princeton.edu  ...      1746.0        NJ
4   http://www.columbia.edu  ...      1754.0        NY
5           http://ucla.edu  ...      1919.0        CA
6   http://www.williams.edu  ...      1793.0        MA
7       http://www.yale.edu  ...      1701.0        CT
8       http://www.duke.edu  ...      1924.0        NC
9      http://www.upenn.edu  ...      1740.0        PA

              collegeType                             carnegieClassification  \
0  Private not-for-profit  Doctoral Universities: Very High Research Acti...
1  Private not-for-profit  Doctoral Universities: Very High Research Acti...
2                  Public  Doctoral Universities: Very High Research Acti...
3  Private not-for-profit  Doctoral Universities: Very High Research Acti...
4  Private not-for-profit  Doctoral Universities: Very High Research Acti...
5                  Public  Doctoral Universities: Very High Research Acti...
6  Private not-for-profit      Baccalaureate Colleges: Arts & Sciences Focus
7  Private not-for-profit  Doctoral Universities: Very High Research Acti...
8  Private not-for-profit  Doctoral Universities: Very High Research Acti...
9  Private not-for-profit  Doctoral Universities: Very High Research Acti...

  studentFacultyRatio  totalStudentPop undergradPop totalGrantAid  \
0                   3            12195         4582    35299332.0
1                   4            20961         8464    51328461.0
2                  19            45878        33208    64495611.0
3                   4             8532         5516    44871096.0
4                   6            33882         8689    44615007.0
5                  18            46947        33641    61100980.0
6                   6             2307         2251    15204855.0
7                   4            14910         7199    48430359.0
8                   6            17855         7278    41087604.0
9                   6            30688        14202    59744979.0

  percentOfStudentsFinAid  percentOfStudentsGrant
0                    75.0                    60.0
1                    70.0                    55.0
2                    63.0                    53.0
3                    62.0                    61.0
4                    58.0                    54.0
5                    73.0                    67.0
6                    62.0                    52.0
7                    61.0                    53.0
8                    63.0                    47.0
9                    57.0                    47.0

[10 rows x 25 columns]

## Exploration

Now let's learn to do some exploration. Try printing out the median "medianBaseSalary"

Making it a little more complicated--print out the median "medianBaseSalary" only for urban colleges.

Now, still using one statement, let's print out median "medianBaseSalary" for all different possible values of "campusSetting". You'll need a statement we haven't used yet.

Print out the number of colleges by state. Your results should look something like:

NY    63<br>
CA    55

etc.

Display just the line for University of Maryland. (There are a couple of ways of doing this.)

## Modifications

Let's start modifying our dataframe! Remember, dataframe operations return a copy by default, so you'll either need to use the inplace=True, or just assign the dataframe back into itself (as in, df = df.someFunction()).

Start by filling in all blank phone numbers with "no number"

Take the website column and change it so that no string includes "http://" or "www"

Create a new column called "faculty" that computes the number of faculty at each university

## Graphs

Let's do some very basic graphing here! Create a histogram for the student population.